.u-section-1 .u-sheet-1 {
  min-height: 1722px;
}

.u-section-1 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 93px 1px 0;
}

.u-section-1 .u-image-1 {
  height: 355px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 1px 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}